@media (max-width: 768px) {
    .button {
        width: 150px;
    }
    .header__phone {
        font-size: 16px;
        margin-right: 8px;
    }
    .header__official {
        display: none;
    }
}